body {
  background: #cf2135;
  /*background-size: cover;*/
  /*background: linear-gradient(#cf2135, #cf2135);*/
  /*background-color: #cf2135;*/
}

.death {
  transition: 1.5s;
  /*background: linear-gradient(#cf2135, black);
  background-size: cover;*/
  background-color: black;
}

#canvas {
  border: 10px solid #ffe753;
  margin: 0 auto;
  display: block;
  background-image: url(assets/bg.png);
  background-position: 50% 0%;
  /*background-size: cover;*/
}

h1 {
  text-align: center;
  font-family: Futura;
  text-transform: uppercase;
  font-weight: 400;
}

.volume-off {
  color: #fff;
}

.icon-box {
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  max-width: 130px;
  justify-content: space-around;
}

.icon-box a {
  color: #000;
}

.icon-box a:hover {
  color: #fff;
}

.controls {
  display: flex;
  max-width: 920px;
  margin: 0 auto;
  justify-content: flex-end;
  padding-bottom: 5px;
}

#mute {
  cursor: pointer;
  font-size: 20px;
}

#mute:hover {
  color: #ffe753;
}
